
.card{
  width: 18rem;
}

.card-img-top{
    max-height: 25rem;
    max-width: 25rem;
  }
  
  
  .card-body{
    max-height: 40rem;
    max-width: 18rem;
  }
  
  .card-title{
    font-size: 23px
  
  }
  
  .card-text{
    font-size: 12px;
  }