

.navegacion{
  
    padding-top: 3px;
    padding-bottom: 5px;
    height: auto;
    display: inline-block;
    width: 100%;
    line-height: 1.4;
    background: rgba(203,44,129,1);
    background: -moz-linear-gradient(-15deg,rgba(203,44,129,1) 0%,rgba(138,83,234,1) 51%,rgba(120,170,236,1) 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(0%,rgba(203,44,129,1)),color-stop(51%,rgba(138,83,234,1)),color-stop(100%,rgba(120,170,236,1)));
    background: -webkit-linear-gradient(-15deg,rgba(203,44,129,1) 0%,rgba(138,83,234,1) 51%,rgba(120,170,236,1) 100%);
    background: -o-linear-gradient(-15deg,rgba(203,44,129,1) 0%,rgba(138,83,234,1) 51%,rgba(120,170,236,1) 100%);
    background: -ms-linear-gradient(-15deg,rgba(203,44,129,1) 0%,rgba(138,83,234,1) 51%,rgba(120,170,236,1) 100%);
    background: linear-gradient(135deg,rgba(203,44,129,1) 0%,rgba(138,83,234,1) 51%,rgba(120,170,236,1) 100%);}